.App {
  text-align: center;
  display: grid;
  row-gap: 20px;
  justify-items: center;
  flex-direction: row;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.MainContainer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);  
  margin: 30px;
  justify-items:center;  
  align-items:center;  
}
@media (min-width: 1200px){
  .card{
    width:150px;
    height:100px;
    padding:30px;
  }  
}
@media (max-width: 1200px){
  .card{
    width:150px;
    height:100px;
    padding:30px;
  }  
}
@media (max-width: 900px){
  .card{
    width:100px;
    height:100px;
    padding:20px;
  }  
}@media (max-width: 1020px){
  .card{
    width:120px;
    height:120px;
    padding:20px;
  }  
}@media (max-width: 570px){
  .card{
    width:60px;
    height:60px;
    padding:20px;
  }  
}